.focused-by-extension.review-comment {
    border: 1px solid #28e;
    margin: -1px;
}

.focused-by-extension.timeline-comment,
.focused-by-extension.timeline-comment.current-user {
    border-color: #28e;
}

.focused-by-extension.timeline-comment::before {
    border-right-color: #28e !important;
}